body {
  background: #333;
  font-family: "Microsoft Sans Serif", "MS Sans";
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 80px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0, 0.9),
    -1px 1px 4px rgba(0, 0, 0, 0, 0.9);
  margin: 20px;
}

.icon-selected {
  background: rgba(82, 25, 136, 0.712);
}

.icon-image {
  width: 35px;
  height: 40px;
  background: #ac5f5f;
  color: #fff;
  /*font-family: monospace;*/
  padding: 5px;
  background-image: url("images/renny/file.png");
  background-size: cover; /* This property will cover the entire div with the image */
  background-position: center; /* This property will center the image within the div */
}

.icon-text {
  text-align: center;
  /*background: #000;*/
  color: #fff;
  /*font-family: monospace;*/
  padding: 5px;
}

.window {
  display: flex;
  flex-direction: column;
  position: fixed;
}



.window-input {
  display: block;
  /*font-family: monospace;*/
  width: calc(100% - 12px);
  background: #fffbc6;
  color: #0f0f0f;
  border: 4px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 0;
}

.title-bar,
.window-top-no-bind {
  display: flex;
  cursor: move;
}

.window-top-no-bind {
  cursor: inherit;
}


.leyTitle {
  font-size:18px;
  font-weight: bold;
}

#Desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: rgba(0, 255, 255, 0.37);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listContainer {
  width: 100%;
  height: 400px;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
  background-color: #fafafa;
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
}

.leyContainerUnfocused {
  display: flex;
  flex-direction: row;
  background-color: #999999;
  width: 100%;
  height:100px;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
  overflow-y:hidden;
}

.leyContainerUnfocused h3 {
  margin: 0px;
}

.leyContainerFocused {
  display: flex;
  flex-direction: row;
  background-color: #999999;
  width: 100%;
  height: 400px;
  border: solid 2px #808080;
  border-radius: 5px;
  cursor: pointer;
}

.leyTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
}

.photoContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px;
  border-radius: 50%;
}

.citizenPhoto {
  width: 80%;
  height: 80%;
}

.leyOpenedContainer {
  width: 100%;
  height: 400px;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
  scroll-behavior: auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.approveButton {
  width: 100px;
  height: 100px;
  font-size: 30px;
}

.discardButton {
  width: 100px;
  height: 100px;
  font-size: 30px;
}

.debatingContainer {
  border: solid 1px #0f0f0f;
  border-radius: 5px;
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
}

.strikesContainer {
  display: flex;
  flex-direction: row;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
}

.strike {
  border: solid 1px #0f0f0f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.debatingLeyContainer {
  display: flex;
  flex-direction: row;
  border: solid 1px #0f0f0f;
  border-radius: 5px;
}

.debatingLeyContainer p{
  margin:0px;
}
